.loadMore {
  border-radius: 15px;
  padding: 14px 32px;
  background-color: cornflowerblue;
  border: none;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  display: block;
  margin: 32px auto auto;
  cursor: pointer;
}

.loadMore:hover {
  background-color: cadetblue;
}
